<div class="footer-container" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="owner-tm">
    Nathan Frank
  </div>
  <div class="contact-links" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
    <a class="icon-link" href="https://www.linkedin.com/in/nathantfrank">
      <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin-square"></mat-icon>
    </a>
    <a class="icon-link" href="https://www.github.com/nathantfrank">
      <mat-icon fontSet="fontawesome" fontIcon="fa-github-square"></mat-icon>
    </a>
    <a class="icon-link" href="mailto:nathan.t.frank@gmail.com">
      <mat-icon fontSet="fontawesome" fontIcon="fa-envelope-square"></mat-icon>
    </a>
  </div>
</div>
