<div class="app-content" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="toolbar" fxFlex="10%">
    <app-toolbar owner="Nathan Frank"></app-toolbar>
  </div>
  <div class="about-me-content" fxFlexFill>
    <app-profile-intro></app-profile-intro>
    <div class="about-me-content-body" fxLayout="row" fxLayoutAlign="space-evenly stretch">
      <div fxFlex="40%" fxFlexFill>
        <app-profile-content></app-profile-content>
      </div>
      <div>
        <app-contact-links></app-contact-links>
      </div>
    </div>
  </div>
</div>
