<div class="app-content" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="1em">
  <app-toolbar owner="NATHAN FRANK"></app-toolbar>
  <div class="about-me-content" fxFlex="85%">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="1em">
      <app-profile-intro></app-profile-intro>
    <div class="about-me-content-body" fxLayout="row" fxLayoutAlign="space-evenly stretch">
      <div fxFlex="40%" fxFlexFill>
        <app-profile-content></app-profile-content>
      </div>
      <div>
        <app-contact-links></app-contact-links>
      </div>
    </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
