<div class="contact-links-container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="25px">
  <div class="contact-links-header">
    Contacts
  </div>
  <div class="contact-links" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="25px">
    <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin-square"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-github-square"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-envelope-square"></mat-icon>
  </div>
</div>
