@import '~@angular/material/theming';

.contact-links-container {

  .contact-links-header {
    width: 100%;
    font-size: 1.75em;
  }

  .contact-links {
    .icon-link {
      color: black;

      mat-icon {
        width: 100%;
        height: 100%;
        font-size: 2em;
      }
    }
  }
}
