@import '_contact-links-theme';

@include contact-links-theme($app-theme);

.contact-links-container {

  .contact-links-header {
    width: 100%;
    font-size: 1.75em;
  }

  .contact-links {
    .icon-link {

      mat-icon {
        width: 100%;
        height: 100%;
        font-size: 2em;
      }
    }
  }
}
