<div class="contact-links-container" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1.25em">
  <div class="contact-links-header">
    Contacts
  </div>
  <div class="contact-links" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1.25em">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.25em">
      <a class="icon-link" href="https://www.linkedin.com/in/nathantfrank">
        <mat-icon fontSet="fontawesome" fontIcon="fa-linkedin-square"></mat-icon>
      </a>
      <div>Linkedin</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.25em">
      <a class="icon-link" href="https://www.github.com/nathantfrank">
        <mat-icon fontSet="fontawesome" fontIcon="fa-github-square"></mat-icon>
      </a>
      <div>Github</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.25em">
      <a class="icon-link" href="mailto:nathan.t.frank@gmail.com">
        <mat-icon fontSet="fontawesome" fontIcon="fa-envelope-square"></mat-icon>
      </a>
      <div>E-mail</div>
    </div>
  </div>
</div>
