@import "_toolbar-theme";

@include toolbar-theme($app-theme);

.toolbar-container {
  .header {
    max-height: 2.5em;

    .home-button {
      font-weight: bold;
      font-size: .85em;
    }
  }
}
