<div class="profile-content-container" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="1em">
  <div class="profile-content-header">
    About Me
  </div>
  <div class="profile-content">
    <p>
      Thanks for visiting my site!
      My name is Nathan Frank and
      I am currently a senior at Mississippi State University
      and will be graduating in May 2018.
    </p>
    <p>
      I am a software engineer/developer with a passion for
      building tools and applications that simplify the life of users.
    </p>
    <p>
      I became interested in technology in high school
      while working under an electrical engineer for a local technology company.
      Since then I have had multiple internships
      with companies that have led me to where I am now.
    </p>
    <p>
      The areas that I am most interested in are:
      Software Engineering, Development Operations,
      Data Science, User Experiences, and Artificial Intelligence/Machine Learning.
    </p>
    <p>
      You can find me on Linkedin and Github (the links are to the right).
      To view my public projects please use the Github link.
      If you are interested in an updated resume please email me.
      Click here for my <a href="/assets/images/Nathan_Frank_Resume.pdf">resume</a>.
    </p>
  </div>
</div>
